@model double
@using ConsoleAppProject.App02 
@{
    ViewData["Title"] = "Health Message";
}

@{
    BMI bmi = new BMI();
    bmi.BMIValue = Model;
}

<header class="jumbotron">
    <h1>BMI Health Message</h1>
    <h2>By Phill Horrocks</h2>
</header>

<section>
    <!-- TODO: Need to re-style this whole section from default Bootstrap -->
    <h2>Your BMI index</h2>
    <p class="text-lead">
        @bmi.OutputBMI();
    </p>
    <p class="text-lead">
        @bmi.HealthMessage();
    </p>
    <p class="text-info">
        @bmi.BameMessage();
    </p>
</section>



