@{
    ViewData["Title"] = "Phill Horrocks | Home Page";
}

<header class="text-center jumbotron justify-content-center">
    <h1 class="display-4">CO453 Applications Programming</h1>
    <h2>By Phill Horrocks</h2>
    <h3>Version 0.1</h3>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</header>

<section>
    <ol class="list-group">
        <li class="list-group-item"><a class="btn btn-success" asp-controller="Home" asp-action="DistanceConverter">App01</a> Distance Converter</li>
        <li class="list-group-item"><a class="btn btn-info" asp-controller="Home" asp-action="BMI">App02</a> BMI Calculator</li>
        <li class="list-group-item"><a class="btn btn-warning" asp-controller="Home" asp-action="StudentMarks">App03</a> Student Marks</li>
    </ol>
</section>